# MONGODB_URI=mongodb://localhost:27017/auth-profile
MONGODB_URI=mongodb://mongo:27017/auth-profile

JWT_ACCESS_SECRET=my-super-secret
JWT_REFRESH_SECRET=my-best-super-secret
ACCESS_TTL=180s
REFRESH_TTL=1d

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=eu-central-1
AWS_ENDPOINT=http://localstack:4566
AWS_PUBLIC_ENDPOINT=http://localhost:4566
AWS_S3_BUCKET=avatars